#mysql DB properties  
MYSQL_DB_DRIVER_CLASS=com.mysql.jdbc.Driver
#MYSQL_DB_URL=jdbc:mysql://localhost:3306/

#####################################

#MISCELANIAS W&C
#MYSQL_DB_URL=192.168.1.25
#MYSQL_DB_USERNAME=user_pos
#MYSQL_DB_PASSWORD=Admin123.
#MYSQL_DB=admin_tools

#RONAL
#MYSQL_DB_URL=192.168.10.102
#MYSQL_DB_USERNAME=admin
#MYSQL_DB_PASSWORD=ronLsnta123.
#MYSQL_DB=admin_tools

#TEXACO OLANCHITO
#MYSQL_DB_URL=10.10.10.13
#MYSQL_DB_USERNAME=root
#MYSQL_DB_PASSWORD=Jamo1901.
#MYSQL_DB=admin_tools

#LA GRANJA
#MYSQL_DB_URL=192.168.0.103
#MYSQL_DB_USERNAME=admin_tools_user
#MYSQL_DB_PASSWORD=Jdmm123.
#MYSQL_DB=admin_tools

#MEDIZAZ
#MYSQL_DB_URL=192.168.0.100
#MYSQL_DB_USERNAME=user_admin
#MYSQL_DB_PASSWORD=Jdmm123.
#MYSQL_DB=admin_tools

#LOCAL
MYSQL_DB_URL=127.0.0.1
MYSQL_DB_USERNAME=root
MYSQL_DB_PASSWORD=Jdmm123.
MYSQL_DB=admin_tools

FERROCENTER SJP
#MYSQL_DB_URL=192.168.1.2
#MYSQL_DB_USERNAME=user_admin
#MYSQL_DB_PASSWORD=Jdmm123.
#MYSQL_DB=admin_tools


FERROCENTER ESPARTA
#MYSQL_DB_URL=127.0.0.1
#MYSQL_DB_USERNAME=root
#MYSQL_DB_PASSWORD=jdmm123.
#MYSQL_DB=admin_tools


MIRNAS CAKE
#MYSQL_DB_URL=127.0.0.1
#MYSQL_DB_URL=192.168.0.111
#MYSQL_DB_USERNAME=root
#MYSQL_DB_PASSWORD=Jdmm123?
#MYSQL_DB=admin_tools

CLINICA PALMA
#MYSQL_DB_URL=192.168.1.10
#MYSQL_DB_USERNAME=user_admin
#MYSQL_DB_PASSWORD=Jdmm1234.
#MYSQL_DB=admin_tools

#SUPER SAMIR
#MYSQL_DB_URL=127.0.0.1
#MYSQL_DB_URL=192.168.1.100
#MYSQL_DB_USERNAME=root
#MYSQL_DB_PASSWORD=jdmm123.
#MYSQL_DB=admin_tools

#variedades otro
#MYSQL_DB_URL=127.0.0.1
#MYSQL_DB_URL=192.168.1.11
#MYSQL_DB_USERNAME=root
#MYSQL_DB_PASSWORD=jdmm123.
#MYSQL_DB=admin_tools


#Oracle DB Properties
ORACLE_DB_DRIVER_CLASS=oracle.jdbc.driver.OracleDriver
ORACLE_DB_URL=jdbc:oracle:thin:@localhost:1521:orcl
ORACLE_DB_USERNAME=hr
ORACLE_DB_PASSWORD=oracle 